<nav>
  <ul>
    <li><a routerLink="/home">HOME</a></li>
    <li><a routerLink="/resume">RESUME</a></li>
    <li><a routerLink="/portfolio">PORTFOLIO</a></li>
    <li><a routerLink="/contact">CONTACT</a></li>
  </ul>
</nav>

<ul id="slide-out" class="sidenav">
  <li><a class="waves-effect" routerLink="/home">HOME</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="waves-effect" routerLink="/resume">RESUME</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="waves-effect" routerLink="/portfolio">PORTFOLIO</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="waves-effect" routerLink="/contact">CONTACT</a></li>
  <li>
    <div class="divider"></div>
  </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><span id="sidenav-btn"><i class="fas fa-bars"></i> MENU
  </span></a>