.container {
  position: relative;
  left: 30px;
  top: 100px;
}

#title-block h2 {
  font-family: 'Playfair Display', serif;
}
#title-block h4 {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  left: 5%;
  font-weight: 500;
}
#intro {
  font-family: 'Raleway', sans-serif;
  position: relative;
  left: 12%;
}
#mySelfie {
  width: 25%;
  margin-left: 100px;
  margin-top: 10px;
  float: left;
  border-radius: 8px;
}