<div class="contact-container">
  <h2>Contact Me</h2>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="First Name" id="first_name" type="text" class="validate">
          <label for="first_name , last_name">Name *</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <label for="email">Email * </label>
      <br>
      <input type="text" Name="email" id="email" placeholder="Email" />
      <br>

      <br>
      <label for="email">Subject * </label>
      <br>
      <input type="text" Name="subject" id="subject" placeholder="Subject" />
      <br>

      <br>
      <label for="message">Message *</label>
      <br>
      <textarea placeholder="Type your message here..."></textarea>
      <br>
      <br>
      <button class="btn waves-effect grey lighten-5" type="submit" name="action">
        <span id="submit-text">Submit </span>
        <i class="far fa-paper-plane"></i>
      </button>
    </form>
  </div>
</div>