<div class="resume-container">
  <h2 class="resume-header">Resume</h2>
  <a href="assets/pdfs/Quyen_Huynh_Resume.pdf" download target="_blank" class="resume-link"><i
      class="fas fa-file-download"></i>
    Click here to download the pdf file!</a>

  <h5 class="resume-sections">Education/Certifications</h5>
  <hr>
  <p>Bachelor of Science in Computer Science<span class="resume-date">8/2015 - 8/2020</span></p>
  <ul>
    <li>Georgia State University</li>
  </ul>

  <p>Certificate in Full Stack Web Development<span class="resume-date">1/2019 - 7/2019</span></p>
  <ul>
    <li>Georgia Institute of Technology, Coding Boot Camp</li>
  </ul>

  <h5 class="resume-sections">Experience</h5>
  <hr>
  <p>Software Engineer Intern<span class="resume-date">12/2019 - current</span></p>
  <p>NetDocuments Inc. | Alpharetta, GA</p>
  <ul>
    <li>Created proof-of-concept prototype applications for demonstration and evaluation purposes with goals of code
      abstraction, stability, and reuse.</li>
    <li>Developed a number of features such as a new UI flow for document uploads, user avatars, and e-signature for
      NetDocuments' award-winning collaboration technology, ndThread.</li>
    <li>Utilized wide range of development tools, including Angular Frontend Framework, Ruby, and Redis database.</li>
  </ul>

  <h5 class="resume-sections">Technical Skills</h5>
  <hr>
  <ul>
    <li>Languages: JavaScript, Java, Python, HTML5, CSS3</li>
    <li>Frameworks: Angular, React, jQuery, Node, Express</li>
    <li>Databases: Firebase, MySQL, MongoDB, Redis</li>
    <li>UI/UX Prototyping with Adobe XD</li>
  </ul>
</div>