<div class="portfolio-container">
  <h2>Portfolio</h2>

  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images and caption text -->
    <div class="mySlides fade">
      <div class="caption">New York Times Article Search</div>
      <a href="https://github.com/QuyenHuynh/Article-Search" target="_blank"><img
          src="assets/images/article-search.gif" style="width:100%"></a>
    </div>
    <div class="mySlides fade">
      <div class="caption">Crystal Collector Game</div>
      <a href="https://github.com/QuyenHuynh/Crystal-Collector-Game" target="_blank"><img
          src="assets/images/crystal-collector.png" style="width:100%"></a>
    </div>

    <div class="mySlides fade">
      <div class="caption">LIRI Node App</div>
      <a href="https://github.com/QuyenHuynh/liri_node_app" target="_blank"><img src="assets/images/liri.png"
          style="width:100%"></a>
    </div>

    <div class="mySlides fade">
      <div class="caption">Art Trivia Game</div>
      <a href="https://github.com/QuyenHuynh/Trivia-Game" target="_blank"><img src="assets/images/triviagame.jpg"
          style="width:100%"></a>
    </div>

    <div class="mySlides fade">
      <div class="caption">Word Guessing Game</div>
      <a href="https://github.com/QuyenHuynh/Word-Guess-Game" target="_blank"><img
          src="assets/images/wordguessgame.jpg" style="width:100%"></a>
    </div>

    <div class="mySlides fade">
      <div class="caption">Bamazon</div>
      <a href="https://github.com/QuyenHuynh/Bamazon" target="_blank"><img src="assets/images/bamazon.gif"
          style="width:100%"></a>
    </div>
    <div class="mySlides fade">
      <div class="caption">Friend Finder</div>
      <a href="https://github.com/QuyenHuynh/Friend-Finder" target="_blank"><img src="assets/images/friendfinder.png"
          style="width:100%"></a>
    </div>
    <div class="mySlides fade">
      <div class="caption">Burger</div>
      <a href="https://github.com/QuyenHuynh/Burger" target="_blank"><img src="assets/images/burger.png"
          style="width:50%"></a>
    </div>
    <div class="mySlides fade">
      <div class="caption">Tip Calculator</div>
      <a href="https://github.com/QuyenHuynh/Tip-Calculator" target="_blank"><img src="assets/images/tip-calc.png"
          style="width:100%"></a>
    </div>
    <div class="mySlides fade">
      <div class="caption">React Memory Game</div>
      <a href="https://github.com/QuyenHuynh/React-Memory-Game" target="_blank"><img
          src="assets/images/memory-game.png" style="width:100%"></a>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- circular indicators -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>

  </div>

</div>