// router-outlet ~ * {
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }

a {
  color: black;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    font-style: bold;
  }
}

input {
  font-size: 100% !important;
  &:focus {
    border-bottom: 1px solid rgb(233, 185, 243) !important;
    box-shadow: 0 1px 0 0 rgb(233, 185, 243) !important;
  }
}

ul {
  font-family: 'Playfair Display', serif;
  padding-left: 35px !important;
  li {
    list-style-type: circle !important;
    font-size: 13px;
  }
}

hr {
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  background: #333;
  height: 1px;
  border: 0;
}

/* ~~ MOBILE VIEW ~~ */
.sidenav li {
  padding: 0px;
}

#sidenav-btn {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  display: none;
  z-index: 3;
}

// @media screen and (max-width: 640px) {
//   #sidenav-btn {
//       display: inline;
//   }
//   .nav {
//       display: none;
//   }
// }
// @media screen and (min-width: 462x) and (max-width: 768px) {}

// @media screen and (min-width: 769px) and (max-width: 980px) {}